<li id="<%= dom_id message %>" class="flex flex-row">
    <% if message.type == "ic" || message.type == "ooc" %>
        <%== "<span class='flex flex-row grow whitespace-pre-wrap#{(message.color != "000" && message.color != "000000" && message.color != "black") ? "' style='color:\#" + message.color + ";'" : " text-primary'"}>#{!message.acronym.empty? ? message.acronym + ": " : ""}#{message.text.bbcode_to_html}</span>" %>
    <% else %>
        <%== "<span class='flex flex-row grow text-primary whitespace-pre-wrap'>#{message.text}</span>" %>
    <% end %>
</li>
