<% if resource.errors.any? %>
  <div id="error_explanation" class="alert alert-error flex flex-row" data-turbo-cache="false">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
