<h1>Editing beta code</h1>

<%= render "form", beta_code: @beta_code %>

<br>

<div>
  <%= link_to "Show this beta code", @beta_code %> |
  <%= link_to "Back to beta codes", beta_codes_path %>
</div>
