<div class="collapse bg-base-200 max-w-prose min-w-prose">
  <input type="checkbox" name="my-accordion-1" /> 
  <div class="collapse-title text-xl font-medium">
    Announcements
  </div>
  <div class="collapse-content flex place-content-center">
    <div class="w-full prose">
      <%== @announcement %>
    </div>
  </div>
</div>
