<%= turbo_stream_from dom_id(@chat)+"_accounts_online", channel: OnlineChatChannel %>

<div class="bg-base-100 bg-global bg-no-repeat bg-fixed bg-cover grow md-4 flex flex-row">
  <div class="flex flex-col space-y-4 grow">
    <%= render @chat, log: false %>
  </div>
</div>
