@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --felt-background-image: url("felt_manor_background.png");
}

html {
    background-image: var(--background-image);
}

@font-face
{
	font-family: 'alternianFontOne';
	src: url("Hiveswapalternian-Regular.otf");
}

.alternian {
	font-family: 'Alternian CBB', 'alternianFontOne', TrollType, mono !important;
	direction: RTL;
	text-rendering: optimizeLegibility;
	unicode-bidi:bidi-override;
	text-align:right;
	font-size:140%;
	line-height:105%;
	vertical-align:-2px;
}

.alternian * {
	font-family: 'Alternian CBB', 'alternianFontOne', TrollType, mono !important;
	text-rendering: optimizeLegibility;
}

#messages img {
	@apply blur-lg;
	@apply hover:blur-none;
	@apply transition;
	@apply ease-in-out;
	@apply duration-300;
	@apply hover:delay-1000;
	@apply delay-100;
}

rhino-editor { @apply prose max-w-none }

/* src/exports/styles/trix.css */
.trix-content .rhino-upload-error {
  @apply bg-error;
}
.trix-content :is(img, svg, figure) {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}
.trix-content :is(figure, p) {
  padding: 0;
  margin: 0;
}
.trix-content figure {
  position: relative;
}
.trix-content figcaption {
  line-break: anywhere;
  display: inline-block;
  white-space: normal;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  text-align: center;
  vertical-align: top;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.trix-content[contenteditable=true] figcaption {
  white-space: break-spaces;
}
.trix-content:not([readonly]) figure:is(:focus-within, :focus, .has-focus):nth-child(2) {
  outline: transparent;
  box-shadow: var(--rhino-focus-ring);
}
.rhino-attachment-editor::part(delete-button),
.rhino-attachment-editor::part(file-metadata) {
  display: none;
}
.trix-content:not([readonly]) figure:is(:focus-within, :focus, .has-focus) .rhino-attachment-editor::part(delete-button),
.trix-content:not([readonly]) figure:is(:focus-within, :focus, .has-focus) .rhino-attachment-editor::part(file-metadata) {
  display: flex;
}
.trix-content .placeholder {
  position: absolute;
  pointer-events: none;
  cursor: text;
  content: "";
}
.trix-content {
  @apply border-base-200;
  @apply rounded-box;
  @apply border;
  margin: 0;
  padding: 0.4em 0.6em;
  min-height: 25px;
  outline: transparent;
}
.trix-content[contenteditable=true] {
  white-space: pre-wrap;
}
.trix-content:is(:focus, :focus-within) {
  @apply border-primary;
}
.trix-content figure.attachment figcaption {
  position: relative;
}
.trix-content p.is-editor-empty:first-child::before,
.trix-content figure[data-trix-attachment].has-focus figcaption.is-empty::before {
  content: attr(data-placeholder);
  pointer-events: none;
}
.trix-content figure[data-trix-attachment]:not(.has-focus) figcaption.is-empty::before {
  content: attr(data-default-caption);
  pointer-events: none;
}
.trix-content ul {
  list-style: disc;
}
.trix-content figure[data-trix-attachment].has-focus figcaption.is-empty::before {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
}
.trix-content p.is-editor-empty:first-child::before {
  float: left;
  height: 0;
  pointer-events: none;
}
.trix-content {
  box-sizing: border-box;
  @apply max-h-full;
}
.trix-content * {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.trix-content h1 {
  font-size: 1.2em;
  line-height: 1.2;
}
.trix-content blockquote {
  @apply border-neutral;
  border-inline-start-width: 0.3em;
  margin-inline-start: 0.3em;
  padding-inline-start: 0.6em;
}
.trix-content li {
  margin-inline-start: 1em;
}
.trix-content :where(pre) {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: monospace;
  font-size: 0.9em;
  padding: 0.5em;
  white-space: pre;
  @apply bg-base-100;
  overflow-x: auto;
}
.trix-content img {
  max-width: 100%;
  height: auto;
}
.trix-content .attachment {
  display: block;
  position: relative;
  max-width: 100%;
}
.trix-content .attachment a {
  color: inherit;
  text-decoration: none;
}
.trix-content .attachment a:hover,
.trix-content .attachment a:visited:hover {
  color: inherit;
}
.trix-content .attachment__caption {
  text-align: center;
  margin-top: 0.5em;
}
.trix-content .attachment__caption .attachment__name + .attachment__size::before {
  content: " \b7  ";
}
.trix-content .attachment--preview {
  width: 100%;
  text-align: center;
  margin: 0.6em 0;
}
.trix-content .attachment--preview .attachment__caption {
  @apply text-gray-500;
  font-size: 0.9em;
  line-height: 1.2;
}
.trix-content .attachment.attachment--file {
  line-height: 1;
  margin: 0 2px 2px 2px;
  padding: 0.4em 1em;
  @apply border-base-200;
  @apply rounded-box;
}
.trix-content .attachment-gallery {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.trix-content figure.attachment {
  display: inline-block;
  position: relative;
  white-space: normal;
}
.trix-content .attachment-gallery > p {
  width: 0px;
  padding: 0;
  flex-basis: 0%;
  max-width: 0%;
  flex-shrink: 1;
  flex-grow: 0;
}
.trix-content .attachment-gallery .attachment {
  flex: 1 0 100%;
  padding: 0 0.5em;
  max-width: 100%;
  white-space: normal;
}
.trix-content .attachment-gallery > :is(.attachment--preview, action-text-attachment[previewable=true]) {
  flex: 1 0 33%;
  padding: 0 0.5em;
  max-width: 33%;
  white-space: normal;
}
.trix-content .attachment-gallery > :is(.attachment, action-text-attachment):first-of-type:nth-last-of-type(1) ~ :is(.attachment, action-text-attachment),
.trix-content .attachment-gallery > :is(.attachment, action-text-attachment):first-of-type:nth-last-of-type(1) {
  padding: 0;
  flex-basis: 100%;
  max-width: 100%;
}
.attachment-gallery > :is(.attachment--preview, action-text-attachment[previewable=true]):first-of-type:nth-last-of-type(2),
.attachment-gallery > :is(.attachment--preview, action-text-attachment[previewable=true]):first-of-type:nth-last-of-type(2) ~ :is(.attachment--preview, action-text-attachment[previewable=true]),
.attachment-gallery > :is(.attachment--preview, action-text-attachment[previewable=true]):first-of-type:nth-last-of-type(4),
.attachment-gallery > :is(.attachment--preview, action-text-attachment[previewable=true]):first-of-type:nth-last-of-type(4) ~ :is(.attachment--preview, action-text-attachment[previewable=true]) {
  flex-basis: 50%;
  max-width: 50%;
}
.trix-content .attachment-gallery.attachment-gallery--2 action-text-attachment > .attachment,
.trix-content .attachment-gallery.attachment-gallery--4 action-text-attachment > .attachment,
.trix-content .attachment-gallery action-text-attachment > .attachment {
  max-width: 100%;
}
.trix-content {
  --rhino-focus-ring: 0px 0px 3px 0px var(--rhino-button-active-border-color);
  --rhino-border-radius: 4px;
  --rhino-danger-border-color: red;
  --rhino-danger-background-color: #ffdddd;
  --rhino-text-color: #374151;
  --rhino-border-color: #cecece;
  --rhino-placeholder-text-color: #cecece;
  --rhino-button-text-color: #889;
  --rhino-button-border-color: #cecece;
  --rhino-button-disabled-text-color: #d1d5db;
  --rhino-button-disabled-border-color: #d1d5db;
  --rhino-button-disabled-background-color: #d1d5db;
  --rhino-button-active-border-color: #005a9c;
  --rhino-button-active-background-color: rgb(226 239 255);
  --rhino-toolbar-text-color: hsl(219, 6%, 43%);
  --rhino-toolbar-icon-size: 24px;
  --rhino-dialog-border-color: hsl( var(--rhino-button-focus-background-color-hsl) / 50% );
  --rhino-button-focus-background-color: hsl( var(--rhino-button-focus-background-color-hsl) );
  --rhino-button-focus-background-color-hsl: 219 26% 95%;
  display: block;
}

.rhino-editor::part(toolbar) {
  @apply pb-2;
}

.rhino-editor::part(toolbar__base) {
  @apply border-base-200;
  @apply rounded-box;
}

.rhino-toolbar-button {
  @apply border-base-200;
  @apply rounded-box;
  padding: 0.2em 0.4em;
  color: inherit;
}
.rhino-toolbar-button:is([aria-disabled=true], :disabled) {
  @apply text-neutral;
  @apply border-neutral;
}
.rhino-toolbar-button[aria-disabled=true]:focus {
  @apply border-neutral;
}

.rhino-toolbar-button svg {
  @apply object-contain;
}

.rhino-toolbar-button:is(:focus, :hover):not([aria-disabled=true], :disabled) {
  outline: transparent;
  box-shadow: var(--rhino-focus-ring);
  @apply border-primary
}
.rhino-toolbar-button:is(:focus, :hover):not([aria-disabled=true], :disabled, [aria-pressed=true], [part~=toolbar__button--active]) {
  background-color: var(--rhino-button-focus-background-color);
  @apply bg-base-100;
}
.rhino-toolbar-button:is([aria-disabled=true], :disabled):not([part~=toolbar__button--active]) {
  @apply text-neutral;
  @apply border-neutral;
}
.rhino-toolbar-button:is(:focus, :hover):is([aria-disabled=true], :disabled):not([part~=toolbar__button--active]) {
  outline: transparent;
  @apply text-neutral;
  @apply border-neutral;
  box-shadow: 0 0 0 1px var(--rhino-button-disabled-border-color);
}

/* Applies to all toolbar buttons */
.rhino-editor::part(editor) {
  @apply max-h-full;
}
.rhino-editor::part(toolbar) {
  @apply flex-wrap;
}

.rhino-editor::part(toolbar__button) {
  height: auto !important;
  width: 25px !important;
  padding: 0 !important;
  gap: 0 !important;
  @apply bg-base-100;
  @apply text-base-content;
  @apply btn;
  @apply btn-xs;
  @apply btn-square;
}

.rhino-editor::part(toolbar__icon) {
  @apply object-contain;
  @apply min-h-0;
  @apply min-w-0;
  @apply max-h-4;
  @apply max-w-full;

}

/* Applies to "active" buttons which in practical terms is any button highlighted blue due to it being active in the editor. */
.rhino-editor::part(toolbar__button--active) {
  @apply bg-primary;
  @apply text-primary-content;
}

/* Applies to "disabled" buttons (buttons which are not currently usable) */
.rhino-editor::part(toolbar__button--disabled) {
  @apply bg-base-300;
  @apply text-base-content;
  @apply opacity-25;
}

.rhino-editor::part(toolbar__button--undo) {
  @apply hidden md:inline-flex;
}

.rhino-editor::part(toolbar__button--redo) {
  @apply hidden md:inline-flex;
}

.rhino-editor::part(toolbar__button--link) {
  @apply me-0 md:me-4;
}

.rhino-editor::part(toolbar__button--increase-indentation) {
  @apply me-0 md:me-4;
}

/*# sourceMappingURL=trix.css.map */


[data-controller~="colouradjust"] * {
	-webkit-transition: background-color 250ms ease;
    -ms-transition: background-color 250ms ease;
    transition: background-color 250ms ease;
	-webkit-transition: color 250ms ease;
    -ms-transition: color 250ms ease;
    transition: color 250ms ease;
}

.daterangepicker {
	position: absolute;
	color: inherit;
	width: 278px;
	max-width: none;
	padding: 0;
	margin-top: 7px;
	top: 100px;
	left: 20px;
	z-index: 3001;
	display: none;
	font-size: 15px;
	line-height: 1em;
	@apply bg-base-200;
  }
  
  .daterangepicker:before, .daterangepicker:after {
	position: absolute;
	display: inline-block;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	content: '';
  }
  
  .daterangepicker:before {
	top: -7px;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
  }
  
  .daterangepicker:after {
	top: -6px;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
  }
  
  .daterangepicker.opensleft:before {
	right: 9px;
  }
  
  .daterangepicker.opensleft:after {
	right: 10px;
  }
  
  .daterangepicker.openscenter:before {
	left: 0;
	right: 0;
	width: 0;
	margin-left: auto;
	margin-right: auto;
  }
  
  .daterangepicker.openscenter:after {
	left: 0;
	right: 0;
	width: 0;
	margin-left: auto;
	margin-right: auto;
  }
  
  .daterangepicker.opensright:before {
	left: 9px;
  }
  
  .daterangepicker.opensright:after {
	left: 10px;
  }
  
  .daterangepicker.drop-up {
	margin-top: -7px;
  }
  
  .daterangepicker.drop-up:before {
	top: initial;
	bottom: -7px;
	border-bottom: initial;
  }
  
  .daterangepicker.drop-up:after {
	top: initial;
	bottom: -6px;
	border-bottom: initial;
  }
  
  .daterangepicker.single .daterangepicker .ranges, .daterangepicker.single .drp-calendar {
	float: none;
  }
  
  .daterangepicker.single .drp-selected {
	display: none;
  }
  
  .daterangepicker.show-calendar .drp-calendar {
	display: block;
  }
  
  .daterangepicker.show-calendar .drp-buttons {
	display: block;
  }
  
  .daterangepicker.auto-apply .drp-buttons {
	display: none;
  }
  
  .daterangepicker .drp-calendar {
	display: none;
	max-width: 270px;
  }
  
  .daterangepicker .drp-calendar.left {
	padding: 8px 0 8px 8px;
  }
  
  .daterangepicker .drp-calendar.right {
	padding: 8px;
  }
  
  .daterangepicker .drp-calendar.single .calendar-table {
	border: none;
  }
  
  .daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span {
	border-width: 0 2px 2px 0;
	border-radius: 0;
	display: inline-block;
	padding: 3px;
  }
  
  .daterangepicker .calendar-table .next span {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .daterangepicker .calendar-table .prev span {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }
  
  .daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	min-width: 32px;
	width: 32px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	border: 1px solid transparent;
	white-space: nowrap;
	cursor: pointer;
  }
  
  
  .daterangepicker .calendar-table table {
	width: 100%;
	margin: 0;
	border-spacing: 0;
	border-collapse: collapse;
  }

  .daterangepicker td.available:hover, .daterangepicker th.available:hover {
	@apply bg-accent;
	@apply bg-accent-content;
	border-color: transparent;
	color: inherit;
  }
  
  .daterangepicker td.week, .daterangepicker th.week {
	font-size: 80%;
	@apply text-base-content;
  }
  
  .daterangepicker td.off, .daterangepicker td.off.in-range, .daterangepicker td.off.start-date, .daterangepicker td.off.end-date {
	@apply btn-disabled;
	@apply bg-base-100;
	border-color: transparent;
  }
  
  .daterangepicker td.in-range {
	@apply bg-base-300;
	@apply text-base-content;
	border-color: transparent;
	border-radius: 0;
  }
  
  .daterangepicker td.start-date {
	border-radius: 4px 0 0 4px;
  }
  
  .daterangepicker td.end-date {
	border-radius: 0 4px 4px 0;
  }
  
  .daterangepicker td.start-date.end-date {
	border-radius: 4px;
  }
  
  .daterangepicker td.active, .daterangepicker td.active:hover {
	@apply bg-accent;
	@apply text-accent-content;
	border-color: transparent;
  }
  
  .daterangepicker th.month {
	width: auto;
  }
  
  .daterangepicker td.disabled, .daterangepicker option.disabled {
	cursor: not-allowed;
	text-decoration: line-through;
  }
  
  .daterangepicker select.monthselect, .daterangepicker select.yearselect {
	@apply bg-base-300;
	@apply text-base-content;
	font-size: 12px;
	padding: 1px;
	height: auto;
	margin: 0;
	cursor: default;
  }
  
  .daterangepicker select.monthselect {
	margin-right: 2%;
	width: 56%;
  }
  
  .daterangepicker select.yearselect {
	width: 40%;
  }
  
  .daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
	@apply bg-base-200;
	width: 50px;
	margin: 0 auto;
	padding: 2px;
	outline: 0;
	font-size: 12px;
  }
  
  .daterangepicker .calendar-time {
	text-align: center;
	margin: 4px auto 0 auto;
	line-height: 30px;
	position: relative;
  }
  
  .daterangepicker .calendar-time select.disabled {
	@apply text-base-content;
	cursor: not-allowed;
  }
  
  .daterangepicker .drp-buttons {
	clear: both;
	text-align: right;
	padding: 8px;
	display: none;
	line-height: 12px;
	vertical-align: middle;
  }
  
  .daterangepicker .drp-selected {
	display: inline-block;
	font-size: 12px;
	padding-right: 8px;
  }
  
  .daterangepicker .drp-buttons .btn {
	margin-left: 8px;
	font-size: 12px;
	font-weight: bold;
	padding: 4px 8px;
  }
  
  .daterangepicker .ranges {
	float: none;
	text-align: left;
	margin: 0;
  }
  
  .daterangepicker.show-calendar .ranges {
	margin-top: 8px;
  }
  
  .daterangepicker .ranges ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
  }
  
  .daterangepicker .ranges li {
	font-size: 12px;
	padding: 8px 12px;
	cursor: pointer;
  }
  
  .daterangepicker .ranges li:hover {
	@apply bg-accent;
	@apply text-accent-content;
  }
  
  .daterangepicker .ranges li.active {
	@apply bg-accent;
	@apply text-accent-content;
  }
  
  /*  Larger Screen Styling */
  @media (min-width: 564px) {
	.daterangepicker {
	  width: auto;
	}
  
	.daterangepicker .ranges ul {
	  width: 140px;
	}
  
	.daterangepicker.single .ranges ul {
	  width: 100%;
	}
  
	.daterangepicker.single .drp-calendar.left {
	  clear: none;
	}
  
	.daterangepicker.single .ranges, .daterangepicker.single .drp-calendar {
	  float: left;
	}
  
	.daterangepicker {
	  direction: ltr;
	  text-align: left;
	}
  
	.daterangepicker .drp-calendar.left {
	  clear: left;
	  margin-right: 0;
	}
  
	.daterangepicker .drp-calendar.left .calendar-table {
	  border-right: none;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}
  
	.daterangepicker .drp-calendar.right {
	  margin-left: 0;
	}
  
	.daterangepicker .drp-calendar.right .calendar-table {
	  border-left: none;
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}
  
	.daterangepicker .drp-calendar.left .calendar-table {
	  padding-right: 8px;
	}
  
	.daterangepicker .ranges, .daterangepicker .drp-calendar {
	  float: left;
	}
  }
  
  @media (min-width: 730px) {
	.daterangepicker .ranges {
	  width: auto;
	}
  
	.daterangepicker .ranges {
	  float: left;
	}
  
	.daterangepicker.rtl .ranges {
	  float: right;
	}
  
	.daterangepicker .drp-calendar.left {
	  clear: none !important;
	}
  }@import 'actiontext.css';